*:hover {
  transition: var(--transition);
}

a {
  color: black;
  cursor: pointer;
  transition: var(--transition);
}

a:hover {
  color: var(--secondary);
}

body {
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans';
  font-size: 14px;
  min-height: 1024px;
}

body > main {
  flex: 1;
}

button {
  align-items: center;
  border: 0;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  font-family: 'Syne';
  font-weight: 700;
  justify-content: center;
  min-width: 100px;
}

footer {
  align-items: center;
  background-color: white;
  display: flex;
  font-weight: 300;
  height: 60px;
  justify-content: flex-end;
  min-width: 1440px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 107px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: left;
}

h1 {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
}

h1 > span {
  font-family: 'Work Sans';
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--primary);
  font-family: 'Syne';
  font-size: 30px;
  font-weight: 700;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  width: 1140px;
}

header li a {
  margin-right: 2em;
  width: 55px;
}

hr {
  border: 0;
  background-color: #b3b3b3;
  height: 1px;
  width: 100%;
}

input {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 1.2em;
  height: 50px;
  padding: 0 0.5em;
}

label {
  font-weight: 500;
  margin: 2em 0 0.7em 0;
}

li:hover {
  color: var(--secondary);
}

main {
  margin: auto;
  max-width: 978px;
}

nav li {
  font-size: 1.2em;
  padding: 0 10px;
}

nav ul {
  align-items: center;
  display: flex;
  list-style-type: none;
}

section {
  margin: 50px 0;
}

strong {
  font-weight: 700;
}

textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0.5em;
}
