#contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

#contact form {
  max-width: 379px;
  width: 100%;
}

#contact form button {
  max-width: 179px;
}

#contact h2 {
  margin-bottom: 20px;
}

/* Styles on small (phones) and medium (tablets) devices */
@media (max-width: 1140px) {
  #contact {
    padding: 0 1em;
    width: 100%;
  }
}
