.dialog {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.dialog-back-arrow,
.dialog-closing-cross {
  cursor: pointer;
  transition: var(--transition);
}

.dialog-back-arrow:hover,
.dialog-closing-cross:hover {
  color: var(--secondary);
}

.dialog-back-arrow {
  font-size: 21px;
}

.dialog-closing-cross {
  font-size: 24px;
}

.dialog-wrapper {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 630px;
  padding: 30px 35px;
  width: 100%;
}

.error {
  color: var(--error);
}

.hidden {
  display: none !important;
}

.primary-button {
  background-color: var(--primary);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: white;
  font-size: 1em;
  height: 36px;
  margin: 3em auto 2em auto;
  min-width: 179px;
}

.primary-button:disabled {
  background-color: #a7a7a7;
  color: white;
  cursor: not-allowed;
}
