#introduction {
  align-items: center;
  display: flex;
}

#introduction article {
  flex: 1;
  max-width: 412px;
}

#introduction figure {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction img {
  display: block;
  width: 474px;
}

#introduction p {
  line-height: 16.4px;
  margin-bottom: 0.5em;
}
