#introduction {
  display: flex;
  align-items: center;
}

#introduction article {
  flex: 1;
}

#introduction figure {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction p {
  margin-bottom: 0.5em;
}
