form {
  width: 420px;
}

select {
  width: 100%;
}

.category-select-container {
  position: relative;
}

.fa-chevron-down {
  color: #6c6c6c;
  position: absolute;
  right: 30px;
  top: 18px;
}

.fa-image {
  color: #b9c5cc;
  font-size: 76px;
  margin-bottom: 7px;
  margin-top: 15px;
}

#file-input-and-uploaded-image-container {
  background-color: #e8f1f6;
  border-radius: 3px;
  height: 169px;
}

#file-input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#file-input-container > label {
  align-items: center;
  background-color: #cbd6dc;
  border-radius: 50px;
  color: #306685;
  cursor: pointer;
  display: flex;
  height: 36px;
  justify-content: center;
  line-height: 16px;
  margin-bottom: 7px;
  margin-top: 0;
  width: 173px;
}

#file-input-container > p {
  color: #444444;
  cursor: default;
  font-size: 10px;
}

#file-upload-error-message {
  margin-top: 1em;
}

#project-management-dialog-gallery {
  display: grid;
  grid-gap: 1.5em 0.6em;
  grid-template-columns: repeat(5, 1fr);
  margin: 4em 0;
  max-width: 420px;
}

#project-management-dialog-link {
  margin-left: 25em;
  position: absolute;
}

#project-management-dialog-step-2 hr {
  margin-top: 50px;
}

#project-management-dialog-wrapper hr {
  max-width: 420px;
}

#project-management-dialog-wrapper .dialog-back-arrow-and-cross-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

#project-management-dialog-wrapper .dialog-title {
  color: black;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

#project-management-dialog-wrapper .image-wrapper {
  max-height: 103px;
  position: relative;
}

#project-management-dialog-wrapper .image-wrapper img {
  height: 100%;
}

#project-management-dialog-wrapper .image-wrapper .trash-icon-container {
  align-items: center;
  background-color: black;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 17px;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 6px;
  transition: var(--transition);
  width: 17px;
}

#project-management-dialog-wrapper .image-wrapper .trash-icon-container:hover {
  background-color: var(--text);
  color: var(--error);
}

#project-management-dialog-wrapper .image-wrapper .trash-icon-container i {
  font-size: 11px;
}

#project-management-dialog-wrapper .primary-button {
  min-width: 237px;
}

#uploaded-image {
  display: block;
  height: 100%;
  margin: auto;
}
