@import './reset.css';
@import './basic-style.css';
@import './contact.css';
@import './introduction.css';
@import './variables.css';

.category-filter {
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 60px;
  color: var(--primary);
  font-size: 16px;
  font-weight: 700;
  height: 37px;
  line-height: 19px;
  margin-right: 10px;
  padding: 10px;
}

.category-filter:hover,
.category-filter.active {
  background-color: var(--primary);
  color: white;
}

#category-filters {
  display: flex;
  justify-content: center;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio ul {
  margin-bottom: 30px;
}
